@tailwind base;
@font-face {
    font-family: 'Avenir-Next';
    src: url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'); 
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Italic */
@font-face {
    font-family: 'Avenir-Next';
    src: url('../fonts/avenir-next-italic.eot');
    src: url('../fonts/avenir-next-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next-italic.woff') format('woff'),
         url('../fonts/avenir-next-italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* bold */
@font-face {
    font-family: 'Avenir-Next';
    src: url('../fonts/avenir-next-bold.eot');
    src: url('../fonts/avenir-next-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next-bold.woff') format('woff'),
         url('../fonts/avenir-next-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
body{
    font-family: 'Avenir-Next'
}

@tailwind components;
@tailwind utilities;
